.attendee-list {
  display: flex;
  padding-left: $space-half;

  .attendee {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 100%;
    margin-left: -8px;
    z-index: -2;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      opacity: 1;
      transition: none 0s ease 0s;
    }
  }

  .attendee-total {
    padding-top: $size-space-1;
    padding-left: $space-half;
    color: rgb(117, 117, 117);
    font-size: 15px;
  }
}

