.load-more-btn {
  min-width: 140px;
  max-width: 250px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid $color-super-black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 12px 16px;
  box-sizing: border-box;
  font-family: $font-roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: $color-super-black;
  transition: all .2s ease-in;
  outline: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  &:hover {
    color: $color-white;
    background-color: $color-super-black;
    cursor: pointer;
  }
}