.thumbnail-loader {
  position: relative;
  overflow: hidden;
  height: inherit;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: $color-gray;
  border-radius: 6px;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 270px;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.text-loader {
  position: relative;
  overflow: hidden;
  height: inherit;
  width: 100%;
  height: 18px;
  margin: 4px 0;
  background-color: $color-gray;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.avatar-loader {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid $color-white;
  border-radius: 100%;
  margin-left: -8px;
  z-index: -2;
  box-sizing: border-box;
  background-color: $color-gray;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}