.public-banner {
  height: 500px;

  &:before {
    content: "";
    position: absolute;
    top: 240px;
    left: -110px;
    width: 200px;
    height: 210px;
    border-radius: 50% 70% 50% 40%;
    background-color: $color-beach;
    opacity: .4;
    z-index: -5;
  }

  &:after {
    content: "";
    position: absolute;
    top: 40px;
    right: -300px;
    width: 550px;
    height: 600px;
    border-radius: 50%;
    background-color: $color-peach;
    opacity: .05;
    z-index: -5;
  }

  @media screen and (min-width: 768px) {
    margin-top: 16px;

    &:before {
      content: "";
      position: absolute;
      top: -170px;
      left: 300px;
      width: 400px;
      height: 240px;
      border-radius: 10% 30% 80% 40%;
      background-color: $color-beach;
      opacity: .4;
      z-index: -5;
    }

    &:after {
      content: "";
      position: absolute;
      top: -270px;
      right: -270px;
      width: 600px;
      height: 600px;
      border-radius: 50% 70%;
      background-color: $color-peach;
      opacity: .05;
      z-index: -5;
    }
  }

  @media screen and (min-width: 990px) {
    height: 420px;

    &:before {
      content: "";
      position: absolute;
      top: -230px;
      left: 150px;
      width: 400px;
      height: 280px;
      border-radius: 60% 100% 180% 75%;
      background-color: $color-beach;
      opacity: .4;
      z-index: -5;
    }

    &:after {
      content: "";
      position: absolute;
      top: -180px;
      right: -90px;
      width: 860px;
      height: 750px;
      border-radius: 50% 50% 50% 50%;
      background-color: $color-peach;
      opacity: .05;
      z-index: -5;
    }
  }

  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .hero-title-container {
      width: 300px;

      @media screen and (min-width: 576px) {
        width: 390px;
      }

      @media screen and (min-width: 990px) {
        width: 480px;
      }

      .hero-title {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        font-weight: 900;
        line-height: 1.24;
        font-size: 44px;
        font-family: $font-family-hero;
        color: $theme-ui-colors-gray7;
        font-size: 32px;
        line-height: 1.24;
        margin-bottom: 16px;
        padding-top: 8px;

        @media screen and (min-width: 576px) {
          font-size: 44px;
          line-height: 1.24;
        }

        @media screen and (min-width: 768px) {
          margin-top: 32px;
        }

        @media screen and (min-width: 990px) {
          font-size: 56px;
        }
      }
    }

    .hero-image-container {
      position: absolute;
      margin-left: 20px;
      margin-top: 245px;
      width: 100%;
      box-sizing: border-box;
      z-index: -1;

      img {
        max-width: 600px;
        width: 100%;
      }

      @media screen and (min-width: 576px) {
        margin-left: 30%;
        margin-top: 200px;
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        margin-left: 350px;
        margin-top: 50px;
        width: 60%;

        img {
          width: unset;
        }
      }

      @media screen and (min-width: 990px) {
        width: 60%;
        margin-top: 96px;
        margin-left: 500px;
        z-index: -1;
      }
    }
  }
}
