# Declare client side access from .env file in webpack webpack.DefinePlugin plugin.
# Remove the '.example' from file name to use.

API=https://5f50ca542b5a260016e8bfb0.mockapi.io/api/v1/movies
NODE_ENV=production

