#search-input {
  border: none;
  border-radius: 2px;
  padding: 6px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  width: 0;
  cursor: pointer;
}

#search-input.active {
  width: 150px;
  padding: 6px 12px;
  transition: width 1s, padding .25s ease;
  color: $color-super-black;
  font-family: $font-roboto;
  font-weight: 500;

  @media only screen and (min-width: 720px) {
    width: 200px;
  }
}