$theme-ui-colors-merlot: #7A1D47;
$theme-ui-colors-meetupRed: #FF1154;
$theme-ui-colors-peach: #F65858;
$theme-ui-colors-marigold: #FFAD43;
$theme-ui-colors-indigo: #00455D;
$theme-ui-colors-viridian: #008294;
$theme-ui-colors-beach: #97CAD1;
$theme-ui-colors-oldGold: #947F5F;
$theme-ui-colors-darkGold: #877457;
$theme-ui-colors-white: #FFFFFF;
$theme-ui-colors-alertRed: #C80000;
$theme-ui-colors-beachHighlight: #F7FEFF;
$theme-ui-colors-tooltipBlue: #3679E4;
$theme-ui-colors-tooltipDark: #292F37;
$theme-ui-colors-confirmGreen: #07b203;
$theme-ui-colors-warningOrange: #E5800B;
$theme-ui-colors-gray1: #F6F7F8;
$theme-ui-colors-gray2: #E6E6E6;
$theme-ui-colors-gray3: #D9D9D9;
$theme-ui-colors-gray4: #C5C4C4;
$theme-ui-colors-gray5: #A2A2A2;
$theme-ui-colors-gray6: #757575;
$theme-ui-colors-gray7: #212121;
$theme-ui-colors-titleColor: #2e3e48;
$theme-ui-colors-shadowColor: rgba(46,62,72,0.12 );
$theme-ui-colors-text: #212121;
$theme-ui-colors-background: #FFFFFF;
$theme-ui-colors-primary: #008294;
