@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap');

// Backgrounds
$theme-ui-colors-merlot: #7A1D47;
$theme-ui-colors-meetupRed: #FF1154;
$theme-ui-colors-peach: #F65858;
$theme-ui-colors-marigold: #FFAD43;
$theme-ui-colors-indigo: #00455D;
$theme-ui-colors-viridian: #008294;
$theme-ui-colors-beach: #97CAD1;
$theme-ui-colors-oldGold: #947F5F;
$theme-ui-colors-darkGold: #877457;
$theme-ui-colors-white: #FFFFFF;
$theme-ui-colors-alertRed: #C80000;
$theme-ui-colors-beachHighlight: #F7FEFF;
$theme-ui-colors-tooltipBlue: #3679E4;
$theme-ui-colors-tooltipDark: #292F37;
$theme-ui-colors-confirmGreen: #07b203;
$theme-ui-colors-warningOrange: #E5800B;
$theme-ui-colors-gray1: #F6F7F8;
$theme-ui-colors-gray2: #E6E6E6;
$theme-ui-colors-gray3: #D9D9D9;
$theme-ui-colors-gray4: #C5C4C4;
$theme-ui-colors-gray5: #A2A2A2;
$theme-ui-colors-gray6: #757575;
$theme-ui-colors-gray7: #212121;
$theme-ui-colors-titleColor: #2e3e48;
$theme-ui-colors-shadowColor: rgba(46,62,72,0.12 );
$theme-ui-colors-text: #212121;
$theme-ui-colors-background: #FFFFFF;
$theme-ui-colors-primary: #008294;

// Base colors
$color-merlot: #7a1d47;
$color-meetup-red: #ff1154;
$color-peach: #f65858;
$color-marigold: #ffad43;
$color-indigo: #00455d;
$color-viridian: #008294;
$color-beach: #97cad1;
$color-old-gold: #947f5f;
$color-white: #fff;
$color-alert-red: #c80000;
$color-beach-highlight: #f7feff;
$color-tooltip-blue: #3679e4;
$color-confirm-green: #07b203;
$color-warning-orange: #e5800b;
$color-gray-1: #f6f7f8;
$color-gray-2: #e6e6e6;
$color-gray-3: #d9d9d9;
$color-gray-4: #c5c4c4;
$color-gray-5: #a2a2a2;
$color-gray-6: #757575;
$color-gray-7: #212121;
$color-font-base: #f6f7f8;
$color-font-secondary: #c5c4c4;
$color-font-tertiary: #212121;

// Fonts
$font-family-normal: "Open Sans",Helvetica,Arial,sans-serif;
$font-family-hero: "Raleway",Helvetica,Arial,sans-serif;
$font-line-height-tiny: 1.5;
$font-line-height-small: 1.43;
$font-line-height-normal: 1.5;
$font-line-height-section-title: 1.4;
$font-line-height-kicker: 1.57;
$font-line-height-display-3: 1.29;
$font-line-height-display-2: 1.19;
$font-line-height-display-1: 1.24;
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-section-title: 20px;
$font-size-kicker: 14px;
$font-size-display-3: 28px;
$font-size-display-2: 32px;
$font-size-display-1: 42px;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-superbold: 900;
$size-font-small: 0.75;
$size-font-medium: 1;
$size-font-large: 2;
$size-font-base: 1;
$size-space-0: 0;
$size-space-1: 4px;
$size-space-2: 8px;
$size-space-3: 12px;
$size-space-4: 16px;
$size-space-5: 20px;
$size-space-6: 24px;
$size-space-7: 28px;
$size-space-8: 32px;
$size-space-9: 36px;
$size-space-10: 40px;
$size-space-11: 44px;
$size-space-12: 48px;
$size-space-13: 52px;
$size-space-14: 56px;
$size-space-15: 60px;
$size-space-16: 64px;

// Radius
$default-radius: 8px;

// Space
$space-quarter: --size-space-1;
$space-half: $size-space-2;
$space: $size-space-4;
$space-and-half: $size-space-6;
$space-double: $size-space-8;
$space-quadruple: $size-space-16;
