
// Colors 
$color-white: #FFFFFF;
$color-super-black: #000000;
$color-purple: #3D087B;
$color-dark-purple: #11052C;
$color-gray: #D9D9D9;
$color-yellow: #FFE459;

// Font
$font-roboto: 'Roboto', sans-serif;
$font-recursive:  'Recursive', sans-serif;
